<div id="grid"></div>

<script>

    $.get("Home/GetData", function (data) {
        var tileLength = 15;

        var canvas = $('<canvas></canvas>').attr({
            width: data.width * tileLength,
            height: data.height * tileLength
        }).appendTo('#grid');

        var context = canvas.get(0).getContext("2d");

        for (var rowNumber = 0; rowNumber < data.level.length; rowNumber++) {
            var columns = data.level[rowNumber];

            for (var columnNumber = 0; columnNumber < columns.length; columnNumber++) {

                if (data.level[rowNumber][columnNumber] == 1) {
                    context.fillStyle = "#000000";
                } else {
                    context.fillStyle = "#ffffff";
                }

                context.fillRect(columnNumber * tileLength, rowNumber * tileLength, tileLength, tileLength);
            }
        }
    });

</script>