<div id="grid"></div>
<div id="seed"></div>
<script>

    $.get("Home/GetData", function (data) {
        $('#seed').text("seed: " + data.seed)

        var tileLength = 15;

        var canvas = $('<canvas></canvas>').attr({
            width: data.width * tileLength,
            height: data.height * tileLength
        }).appendTo('#grid');

        var context = canvas.get(0).getContext("2d");

        for (var rowNumber = 0; rowNumber < data.level.length; rowNumber++) {
            var columns = data.level[rowNumber];

            for (var columnNumber = 0; columnNumber < columns.length; columnNumber++) {

                switch (data.level[rowNumber][columnNumber]) {
                    case 1://empty
                        context.fillStyle = "#000000";
                        break;
                    case 2:
                        context.fillStyle = "#ff0000";
                        break;
                    case 3:
                        context.fillStyle = "#00ff00";
                        break;
                    case 4:
                        context.fillStyle = "#0000ff";
                        break;
                    case 5:
                        context.fillStyle = "#ffff00";
                        break;
                    default:
                    case 0: //block
                        context.fillStyle = "#ffffff";
                        break;
                }

                context.fillRect(columnNumber * tileLength, rowNumber * tileLength, tileLength, tileLength);
            }
        }
    });

</script>